@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kapakana";
  src: url("./assets/fonts/Kapakana-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kapakana";
  src: url("./assets/fonts/Kapakana-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JejuMyeongjo";
  src: url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;500;600;700&display=swap");
}

body {
  font-family: "Nanum Myeongjo", serif;
  background-color: #f3dce1;
  color: #4e3f4a;
}

.font-kapakana {
  font-family: "Kapakana", serif;
}

.font-jeju {
  font-family: "JejuMyeongjo", serif;
}

.font-nanum {
  font-family: "Nanum Myeongjo", serif;
}
